.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
out/
/.gradle/
/.idea/
/build/
/gradle/
/a12-studio-ui/build/
/Output/
/*.log
config/*.json
config/*.settings
config/*.properties
/a12-studio-commons/*.log
/a12-studio-data-services/*.log
/a12-studio-models/*.log
/testing/basic/models/settings.json
/a12-studio-ui/*log
