.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
out/
/.gradle/
/.idea/
/build/
/gradle/
/a12-studio-ui/build/
/Output/
/*.log
config/*.json
config/*.settings
config/*.properties
/a12-studio-data-services/a12-studio-ui.log
/a12-studio-commons/a12-studio-ui.log
