.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
out/
/.gradle/
/.idea/
/build/
/gradle/
/a12-studio-ui/build/
/Output/
/plugins/*.jar
/*.log
config/*.json
config/*.settings
config/*.properties
/a12-studio-commons/*.log
/a12-studio-data-services/*.log
/a12-studio-models/*.log
/a12-studio-ui/*log
/testing/basic/logs/previewapp-server.log
/testing/basic/bundled/seed.tar.gz
/a12-studio-ui/config/settings.properties
/testing/basic/.studio/advanced-settings.json
**/*.log
**/*.gz
/testing/workspaces/basic/bundled/seed.tar.gz
/testing/workspaces/basic/logs/previewapp-server.log.*
/testing/workspaces/basic-tutorial/logs/previewapp-server.log
/.studio/
