/**
 * Menu Bar
 */
.menu-bar {
    -fx-background-color: -fx-panel-color;
}

.menu-bar .label,
.menu-item .label {
    -fx-text-fill: -fx-text-color;
}

.menu-item:focused,
.menu:showing,
.menu:hover {
    -fx-background-color: -fx-accent-color;
}

.menu-item:focused .label,
.menu:showing .label,
.menu:hover .label {
    -fx-text-fill: -fx-text-color-inverse;
}

.menu-bar,
.menu-bar .label,
.menu-item .label {
    -fx-font-size: 14px;
}
