@import "stylesheet-colors.css";
@import "stylesheet-buttons.css";
@import "stylesheet-menubar.css";
@import "stylesheet-tab-pane.css";
@import "stylesheet-tree-view.css";
@import "stylesheet-textfield.css";

/**
 * Main
 */
.root {
    -fx-border-style: solid;
    -fx-border-color: -fx-border-color-theme;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.main, .root {
    -fx-background-color: -fx-surface-color;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.window-header {
    -fx-background-color: -fx-header-color;
    -fx-border-radius: 6px 6px 0 0;
    -fx-background-radius: 6px 6px 0 0;
}

/**
 * Common Component Theme
 */
.base-component {
    -fx-text-fill: -fx-text-color;
    -fx-base: -fx-panel-color;
}

/**
 * Window Toolbar
 */
.header-button {
    -fx-background-color: -fx-header-color;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-text-color-inverse;
}

.header-button:hover {
    -fx-background-color: -fx-accent-color;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-text-color-inverse;
    -fx-cursor: hand;
}

.header-title {
    -fx-text-fill: -fx-text-color-inverse;
}

.header-icon {
    -fx-icon-color: -fx-text-color-inverse;
}

.toolbar-icon {
    -fx-icon-color: -fx-text-color;
}
