/**
 * Text Area
 */
.text-area {
    -fx-background-color: transparent;
    -fx-border-color: -fx-border-input;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.text-area .content {
    -fx-background-color: white;
    -fx-background-radius: 8;
}